meta charset="utf-8"
meta name="language" content="it"
meta name="author" content="Stefano Verna"
meta name="generator" content="Middleman → http://middlemanapp.com/"

- if current_page.data.title.present?
  title= "#{current_page.data.title} - Stefano Verna"
- else
  title Stefano Verna

link href="http://feeds.stefanoverna.com/stefanoverna" rel="alternate" title="Stefano Verna" type="application/atom+xml"
link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"

link href="http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700|Lora:400,700,400italic,700italic" media="all" rel="stylesheet" type="text/css"
= stylesheet_link_tag "screen.css"
