---
layout: default
title: Stefano Verna
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post post-excerpt">
      <header>
        <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p class="meta">{{ post.date | date_to_string }} — <a href="{{ post.url }}#disqus_thread">Commenti</a></h3>
      </header>
      <div class="content">
        {% if post.excerpt %}
            {{ post.excerpt | markdownify }}
        {% else %}
            {{ post.content }}
        {% endif %}
      </div>
    </article>
  {% endfor %}
</ul>

