<!DOCTYPE html>
<html>
  <%= partial 'head' %>
  <body>
    <%= partial 'aside' %>
    <section class="wrapper">
      <div class="wrapper-inner">
        <%= yield %>
      </div>
    </section>
    <%= partial 'js' %>
  </body>
</html>

