<aside class="cover">
  <div class="inner">
    <h1 class="title"><a href="/">Stefano Verna</a></h1>
    <p class="description">Agile practices, Ruby/Rails and TDD/BDD tips</p>
    <ul class="contacts">
      <li><a href="http://github.com/stefanoverna/">Github</a></li>
      <li><a href="http://twitter.com/steffoz/">Twitter</a></li>
      <li><a href="https://plus.google.com/106136318376168001814?rel=author">Google</a></li>
    </ul>
  </div>
</aside>

