<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= current_page.data.title %></title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/application.css">
  <%= stylesheet_link_tag "all" %>
  <meta content="it" name="language">
  <meta content="Stefano Verna" name="author">
  <link href="http://feeds.stefanoverna.com/stefanoverna" rel="alternate" title="Stefano Verna" type>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>

